* {
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
  color: inherit;
  text-decoration: none;
}
:root {
  /* COLOR */
  --primary-color: #4a4a4a;
  --secundary-color: #3cdbc0;
  --light-color: #ffffff;
  /*FONTS*/
  --primary-font: "Rubik", sans-serif;
}
/* MOBILE EDITION */
body {
  font-family: var(--primary-font);
}
header {
  display: flex;
  position: fixed;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 1;
  background-color: var(--light-color);
}

.header-logo {
  margin-top: 10px;
  height: 54.86px;
}
.header-menu {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 150px;
  font-size: 16px;
  margin-top: 10px;
  margin-bottom: 13px;
  color: var(--primary-color);
}
.header-menu li a {
  display: inline-block;
  margin-left: 10px;
  margin-right: 10px;
  text-transform: capitalize;
}
.img-logo {
  width: 155px;
}
h1 {
  background-color: var(--secundary-color);
  height: 100vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: flex;
  color: var(--light-color);
}

main h1 span {
  font-size: 30px;
  text-transform: capitalize;
  font-family: var(--primary-font);
}

a {
  padding: 8px;
}
/*MEDIA QUERIES*/
@media all and (min-width: 768px) {
  .header {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  .header a {
    margin: 20px, 0px, 20px, 30px;
  }
  .header-logo {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 30px;
  }
  .header-menu {
    margin-right: 20px;
  }
  .header-menu li a {
    display: inline-block;
    margin-left: 10px;
    margin-right: 10px;
  }
  main h1 span {
    text-transform: capitalize;
    font-family: var(--primary-font);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 40px;
  }
}
